<div class="edu_wraper">
  <h4 class="edu_title">Course Circullum</h4>

  <div ngbAccordion>
    <div ngbAccordionItem [collapsed]="false">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>
          Introduction to Python
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <div class="card-body pl-3 pr-3">
          <ul class="lectures_lists">
            <li>
              <div class="lectures_lists_title"><i class="ti-control-play"></i>Lecture: 01</div>
              Web Designing Beginner
            </li>
            <li>
              <div class="lectures_lists_title"><i class="ti-control-play"></i>Lecture: 02</div>
              Startup Designing with HTML5 & CSS3
            </li>
            <li>
              <div class="lectures_lists_title"><i class="ti-control-play"></i>Lecture: 03</div>
              How To Call Google Map iFrame
            </li>
            <li class="unview">
              <div class="lectures_lists_title"><i class="ti-control-play"></i>Lecture: 04</div>
              Create Drop Down Navigation Using CSS3
            </li>
            <li class="unview">
              <div class="lectures_lists_title"><i class="ti-control-play"></i>Lecture: 05</div>
              How to Create Sticky Navigation Using JS
            </li>
          </ul>
        </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
