<div class="edu_wraper">
          <h4 class="edu_title">Course Features</h4>
          <ul class="edu_list right">
            <li><i class="ti-user"></i>Student Enrolled:<strong>1740</strong></li>
            <li><i class="ti-files"></i>lectures:<strong>10</strong></li>
            <li><i class="ti-game"></i>Quizzes:<strong>4</strong></li>
            <li><i class="ti-time"></i>Duration:<strong>60 hours</strong></li>
            <li><i class="ti-tag"></i>Skill Level:<strong>Beginner</strong></li>
            <li><i class="ti-flag-alt"></i>Language:<strong>English</strong></li>
            <li><i class="ti-shine"></i>Assessment:<strong>Yes</strong></li>
          </ul>
        </div>
