<div class="ed_view_box style_2">

          <div class="ed_author">
            <div class="ed_author_thumb">
              <img class="img-fluid" src="https://via.placeholder.com/500x500" alt="7.jpg">
            </div>
            <div class="ed_author_box">
              <h4>Michael Russell</h4>
              <span>Web Designer in Canada</span>
            </div>
          </div>

          <div class="ed_view_price pl-4">
            <span>Acctual Price</span>
            <h2 class="theme-cl">$ 149.00</h2>
          </div>
          <div class="ed_view_features pl-4">
            <span>Course Features</span>
            <ul>
              <li><i class="ti-angle-right"></i>Fully Programming</li>
              <li><i class="ti-angle-right"></i>Help Code to Code</li>
              <li><i class="ti-angle-right"></i>Free Trial 7 Days</li>
              <li><i class="ti-angle-right"></i>Unlimited Videos</li>
              <li><i class="ti-angle-right"></i>24x7 Support</li>
            </ul>
          </div>
          <div class="ed_view_link">
            <a href="#" class="btn btn-theme enroll-btn">Enroll Now<i class="ti-angle-right"></i></a>
          </div>

        </div>
