<app-header></app-header>
<app-course-intro></app-course-intro>

<section class="bg-light">
  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-md-8">
        <app-course-overview></app-course-overview>
        <app-course-curriculum></app-course-curriculum>
        <app-course-instructor></app-course-instructor>
        <app-course-review></app-course-review>
      </div>

      <div class="col-lg-4 col-md-4">

        <app-course-further-info></app-course-further-info>
        <app-course-further-info2></app-course-further-info2>

      </div>

    </div>
  </div>
</section>

<app-subscribe></app-subscribe>
<app-footer></app-footer>
